# Ignorar carpeta de modelos 3D y sus subcarpetas
modelos3D/
modelos3D/**/*

# Archivos de caché de Python
__pycache__/
ModelAI/__pycache__/

# Archivos de configuración de entorno
.env
#No guardo el archivo de key de Google para Speech Recognnition 
keySpeechRecognition.json
# no guardo los archivos que contienen los pesos
FaceRecognition/dnns/